.background{
    overflow: hidden;

    .ant-input-search{
        border: 1px solid #fff;
        border-radius: 4px;
    }

    &_light{
        background: #fdfdfd;
        .title {
            color: #221E33;
        }
        .des {
            color: #333;
        }
    }

    &_dark{
        background: #364f6b;
        .title {
            color: white;
        }
        .des {
            color:rgba(255, 255, 255, .78);
        }
    }

    .title{
        font-size:32px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .des{
        font-size:18px;
    }

    .img_whatIsENS{
        height: 200px;;
    }

    .container{
        margin-top: 85px;
        margin-bottom: 125px;
    }


    .advantage{
        &_container{
            margin-top: 35px;
            margin-bottom: 30px;
        }
        &_block{
            min-height: 250px;
            .title{
                font-size: 22px;
                font-weight: 500;
                color: #221E33;
                margin-bottom: 10px;
            }
            .des{
                font-size: 16px;
                color: #333;
            }
            img{
                width: 35px;
            }
        }
    }

    .project{
        &_container{
            margin-top: 35px;
            margin-bottom: 30px;
            .structure{
                padding-left: 120px;
                .line_outer{
                    position: relative;
                    border: 5px solid #364F6B;
                    border-bottom: none;
                    width: 700px;
                    height: 20px;
                    .line{
                        position: absolute;
                        transform: translateX(-50%);
                        left: 50%;
                        span{
                            display: block;
                            margin-top: 2px;
                            width: 4px;
                            height: 2px;
                            background-color: #364F6B;
                        }
                        
                    }
                }
                .item{
                    figure{
                        margin-bottom: 25px;
                        img{
                            width: 128px;
                        }
                    }
                    
                    .title{
                        font-size: 18px;
                        color: #40403F;
                        margin-bottom: 10px;
                    }
                    .des{
                        font-size: 12px;
                        color: #333333;
                    }
                }
            }
        }
        
    }

    .browser{

    }
    
}

.text-center{
    text-align: center;
}

.mb30{
    margin-bottom: 30px !important;
}

.mb60{
    margin-bottom: 60px !important;
}






